
@{
    ViewData["Title"] = "DisplayForm";
}

<h1>Registration Form</h1>

<form method="post" action="/Mortgage/ResponsePage">
    First Name: <input type="text" name="firstName" /><br />
    Last Name: <input type="text" name="lastName" /><br />
    Email: <input type="email" name="email" /><br />
    <input type="submit" />
</form>

