
@{
    ViewData["Title"] = "EmployeeForm";
}

<h1>Employee Form</h1>
<h3>Please enter following details:</h3>

<form method="post" action="/Employee/Thankyou">
    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName"/><br />
    Password: <input type="password" name="Password" /><br />
    Email: <input type="email" name="Email" /><br />
    <input type="submit" />
</form>

