@model Employee
@{
    ViewData["Title"] = "Thankyou";
}

<h1>Thankyou @Model.FirstName @Model.LastName for your registration.</h1>
<br />

<h2>Your email is @Model.Email</h2>
<br />

<h2>Your password is @Model.Password</h2>
